.App{
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    color: white;
}

.expense_container{
        background-color: rgb(161, 158, 158);
        

            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
}